

* {
  font-family: Merriweather;
  color: #fff;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

nav {
  background: #2A58EE;
  color: #fff;
  display: flex;
}

.full-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #4782DA;
}

.app__contents {
  flex-grow: 1;
  background: #4782DA;
  font-family: Roboto;
}

.app__footer {
  background: #4782DA;
}

.title {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  margin: 0;
  width: 60rem;
}

.run-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.run-list__item {
  color: #fff;
  padding: 0 0.5rem;
  margin: 0;
  background: #4782DA;
  font-size: 1.3rem;
  width: 100%;
  text-decoration: none;

  &__sep {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }

  &-outer {
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
  }
}

.date {
  padding: 0.5rem 0.5rem 0 0;
  margin: 0;
}

.time {
  padding: 0.5rem 0.5rem 0 0;
  margin: 0;
}
.delete-btn {
  background: #f74a4f;
  padding: .5rem 1rem;
  margin: .2rem;
  border-radius: 5%;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  background: #4782DA;
}
.info-btn-container {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.btn {
  background: #11d200;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  padding: .5rem 1rem;
}

.newRun {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #4782DA;
  flex-grow: 1;
}

.newTitle {
  color: #fff;
}

.run-list {
  width: 100%;
  background: #4782DA;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

input {
  background: #4782DA;
  border: none;
  padding-top: 1rem;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-size: 1.3rem;
  color: #fff;
}
.new-input {
  color: #fff;
  outline: none;
}

.edit-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.newBtn-cancel {
  border-radius: 50%;
  background: #f74a4f;
  border: 1px solid #f74a4f;
  padding: 1.5rem 1rem;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.newBtn-submit {
  border-radius: 50%;
  background: #11d200;
  border: 1px solid #11d200;
  padding: 1.5rem 1rem;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}
.myRun {
  font-size: 2rem;
}
.runInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;

  &-time {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: .5rem .5rem 0 0;
    font-size: 1.5rem;
  }

  &-date {
    margin: 0;
    padding-top: .5rem;
    font-size: 1.5rem;
  }

}
.myRun {
  color: #fff;
  margin-bottom: 0;
}

.run-notes {
  width: inherit;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.info-btns {
  display: flex;
  justify-content: space-between;
}
.info-btn-container {
  padding: 1rem 0;
}
.infoBtn-back {
  border-radius: 50%;
  background: #f74a4f;
  border: 1px solid #f74a4f;
  padding: 1.5rem 1rem;
  outline: none;
  text-decoration: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  font-size: 1rem;
}
.infoBtn-new {
  border-radius: 50%;
  background: #11d200;
  border: 1px solid #11d200;
  padding: 1.5rem 1.2rem;
  outline: none;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  text-decoration: none;
  font-size: 1rem;
}


.edit-input {
  outline:none;
  color: #fff;

}

@media only screen and (max-width: 500px) {
  .container {
    margin: 0 1rem;
    max-width: 23rem;
  }

}
