<div class="app__contents">
  <div class="container">
    <div class="run-list">
      {{#each model as |run|}}
        {{#link-to 'run-info' run._id}}
          <div class="run-list__item">
            <p class="date">{{ run.date }}</p>
            <p class="time">{{ run.time }}</p>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
<div class="app__footer">
  <div class="container">
    <div class="btn-container">
      {{#link-to 'new-run'}}
        <button class="btn" type="button" name="button">+</button>
      {{/link-to}}
    </div>
  </div>
</div>
