<div class="app__contents">
  <div class="container">
    <div class="run-list">
      {{#each model as |run|}}
        <div class="run-list__item-outer">
          {{#link-to 'run-info' run._id class="run-list__item"}}
            <div class="run-list__item__sep">
              <p class="date">{{ run.date }}</p>
              <p class="time">{{ run.time }}</p>
            </div>
          {{/link-to}}
          <div class="btn-container__index">
            <button class="delete-btn" type="button" name="button" {{action 'deleteRun' run}}>Delete</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="app__footer">
  <div class="container">
    <div class="btn-container">
      {{#link-to 'new-run'}}
        <button class="btn" type="button" name="button">+</button>
      {{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
