
<div class="app__contents">
  <div class="container">
    <div class="run-list">
      {{#each model as |runs|}}
      {{#link-to 'run-info'}}
      <div class="run-list__item">
        <p class="date">{{ runs.date }}</p>
        <p class="time">{{ runs.time }}</p>
      </div>
      {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
<div class="app__footer">
  <div class="container">
    <div class="btn-container">
      {{#link-to 'new-run'}}
      <button class="btn" type="button" name="button">+</button>
      {{/link-to}}
    </div>
  </div>
</div>
